{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="list-group">
    {% for product in products %}
    <a href="{% url 'detail' product.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ product.name }}</h5>
          <small class="text-muted">{{ product.start_date }}</small>
        </div>
        <small class="text-muted">{{ product.author }}</small>
      </a>
{% endfor %}
    </div>
</div>
{% endblock %}
